.Footer {
  margin: 3.3vmax 0;
}

.Footer-email {
  font-size: calc(3.6vw + 1rem);
  line-height: 1.232;
  color: #0f3310;
}

.Footer-email a {
  text-decoration: none;
  color: #0f3310;
  background-repeat: repeat-x;
  background-image: linear-gradient(
    to right,
    currentColor 100%,
    currentColor 0
  );
  background-size: 1px 1px;
  background-position: 0 100%;
  white-space: initial;
  transition: 0.3s;
}

.Footer-email a:hover {
  color: #689469;
}
